.buttonBuy{
    border:1px solid none;
    border-radius: 1px;
    background-color:$bg-yellow-0;
    width: 150px;
    height: 50px;
    transition: background-color 0.3s;
    &:hover{
        background-color: $bg-yellow-1;
        transition: all 0.3s;
    }
}
.buttonIndicator{
    border: 1px    solid rgba(0, 0, 0, 0.13);
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.btnSize{
    background-color: $bg-grey-3;
    border-radius:0px;
    border: none;
    width: 50px;
    height: 50px;
}

.btnUpDown{
background: $bg-purple-gradient-0;
border: none ;
width: 50px;
height: 50px;
}
.btnAdd2Cart{
    background: $bg-purple-gradient-2;
    border: none;
    border-radius: 0px;
    width: 175px;
    height: 64px;
}