// font-size
$fs-normal:16px;
$fs-xl:20px;
$fs-2xl:24px;
$fs-3xl:30px;
$fs-4xl:40px;

// font-color::
$fc-green: #1ED90E;
$fc-dark: #140101;
$fc-red: #FC0303;
$fc-light:#ffffff;
// font-family
$ff-normal:'Inter';
// font-weight:
$fw-normal:300;
$fw-regular:400;
$fw-medium:500;
$fw-semibold:600;

// background-color:

$bg-dark:#000000;
$bg-light-0: #ffffff;
$bg-light-1:#FFFCFC;
$bg-grey-0:#F8F8F8;
$bg-grey-1:#CBC9C9;
$bg-grey-2:#DEDDDC;
$bg-grey-3:#CCCCCC;
$bg-brown-0: #E1B067;
$bg-yellow-0:#F8B653;
$bg-yellow-1:#f2a229;
$bg-purple: #AE18E2;
$bg-purple-gradient-0: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
$bg-purple-gradient-1: linear-gradient(180deg, #AE18E2 0%, rgba(0, 0, 0, 0) 100%);
$bg-purple-gradient-2: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);









