.buttonBuy {
  border: 1px solid none;
  border-radius: 1px;
  background-color: #F8B653;
  width: 150px;
  height: 50px;
  transition: background-color 0.3s;
}
.buttonBuy:hover {
  background-color: #f2a229;
  transition: all 0.3s;
}

.buttonIndicator {
  border: 1px solid rgba(0, 0, 0, 0.13);
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.btnSize {
  background-color: #CCCCCC;
  border-radius: 0px;
  border: none;
  width: 50px;
  height: 50px;
}

.btnUpDown {
  background: linear-gradient(180deg, #6181F3 0%, #7C97F5 99.48%);
  border: none;
  width: 50px;
  height: 50px;
}

.btnAdd2Cart {
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #D017EE 89.71%);
  border: none;
  border-radius: 0px;
  width: 175px;
  height: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body #formSignUp h1 {
  text-align: center;
  margin-bottom: 50px;
}
body #formSignUp .row .col-6 input {
  width: 482px;
  height: 51px;
  position: relative;
  margin-top: 15px;
}
body #formSignUp .row .col-6 input::placeholder {
  font-size: 30px;
  font-weight: 400;
  color: #140101;
  font-family: "Inter";
}
body #formSignUp .row .col-6 input {
  outline: none;
  border: none;
  background-color: antiquewhite;
}
body #formSignUp .row .col-6 input::after {
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 420px;
  height: 3px;
  background-color: red;
  content: "";
}